body {
    background-color:rgba(242, 242, 242, 0.67) ;
    color: #656565;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    vertical-align: middle;
}

.log-frame {
    margin: 0 auto;
    margin-top: 100px;
    width: 600px;
    height: 460px;
    background-repeat: no-repeat;
    background: #fff;
    border: solid #B9B4BC 1px;
    padding-top: 40px;
}

#header {
  /*background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0)); */
  background-color: #E43D50;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  height: 2em;
}

#header p {
  padding: 10px;
  float: left;
} 

#header img { 
  max-height: 200%;
  margin-top: -50px;
  margin-left: 30px;
}

.label2 {
    color: #656565;
    vertical-align: bottom;
    display: inline-block;
    outline: none;
    width: 110px;
    height: 30px;
    margin-right: 7px;
}
td {
    vertical-align: bottom;
     width: 90%;
}
.h1
{
    FONT-SIZE: 30px;
    font-weight:normal;
    COLOR: #FFFFFF;
    FONT-FAMILY: Verdana, Geneva;
}

.h2 {
    FONT-SIZE: 38px;
    COLOR: #656565;
    margin-bottom: 20px;
}

.dropdownlist, .text {
    border: none;
    color: #656565;
    border-bottom: 1px solid #a9a9a9;
    display: inline-block;
    outline: none;
    width: 90%;
    min-width: 225px;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 8px;
    vertical-align: top;
    background-color: #fff;
}

#imgcatcha {
    height: 30PX;
    width: 100PX;
	margin-bottom: 8px;
}

.logo {
    margin: auto;
    text-align: center;
    padding: 10px;
}

#btnAceptar, #btnCambioPassword {
	margin-top: 20px;
	color: #fff;
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 4px;
	-webkit-border-radius: 4px; /*Safari y Chrome*/
	-moz-border-radius: 4px; /*Firefox*/
	-o-border-radius: 4px; /*Opera*/
	-ms-border-radius: 4px; /*IE 8*/
	cursor: pointer;
}

#btnAceptar {
	background: #339933;
}

#btnCambioPassword {
	background: #002068;
}

#btnRecuperaCambio, #btnCrearCta {
	margin-top: 10px;
	color: #002068;
	background: #fff;
	width: 150px;
	height: 20px;
	border: none;
	border-radius: 4px;
	-webkit-border-radius: 4px; /*Safari y Chrome*/
	-moz-border-radius: 4px; /*Firefox*/
	-o-border-radius: 4px; /*Opera*/
	-ms-border-radius: 4px; /*IE 8*/
	cursor: pointer;
}




