/* Portal styles */

body {
    margin: 0px 0px 0px 0px;
    font-size: 12px;
}
table td{
    padding:0px;
  
}
.header {
	width: 100%;
	z-index: 1000;
	height: 130px;
	position: fixed;
	/* background-image: url('../images/background_header.png');
	background-repeat: repeat;
	background-position: left top; 
	background-color: #022268; */
	background: rgba(0,32,104,1);
	background: -moz-linear-gradient(left, rgba(0,32,104,1) 0%, rgba(33,48,111,1) 47%, rgba(78,75,127,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,32,104,1)), color-stop(47%, rgba(33,48,111,1)), color-stop(100%, rgba(78,75,127,1)));
	background: -webkit-linear-gradient(left, rgba(0,32,104,1) 0%, rgba(33,48,111,1) 47%, rgba(78,75,127,1) 100%);
	background: -o-linear-gradient(left, rgba(0,32,104,1) 0%, rgba(33,48,111,1) 47%, rgba(78,75,127,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,32,104,1) 0%, rgba(33,48,111,1) 47%, rgba(78,75,127,1) 100%);
	background: linear-gradient(to right, rgba(0,32,104,1) 0%, rgba(33,48,111,1) 47%, rgba(78,75,127,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002068', endColorstr='#4e4b7f', GradientType=1 );
}

.logoEmp {
	position: absolute;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #FDFDFE;
	width: 200px;
	height: 130px;
}

.logoEmp img {
	margin-top: 40px;
	float:left;
	margin-left: 20px;
	width: 31px;
	height: 40px;
}

.banner {
	position: absolute;
	top: -30px;
	height: 130px;
	width: 1024px;
	left: 350px;
}

.logoEmp label {
	color: #666;
	float:left;
	margin-top: 40px;
	margin-left: 20px;
	/*text-align: center;*/
	font-family: Verdana, Georgia;
}


.logoPF {
	position:absolute;
	margin-left:300px;
	margin-top:30px;
	width: 170px;
	height: 50px;
}


.logout {
	position: absolute;
	width: 100%;
	text-align: center;
	/*background-color: #FDFDFE; */
	width: 200px;
	height: 130px;
	top: 45px;
	right: 0;
}


.menu-frame {
	position: fixed;
	top: 130px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 200px;
	height: 100%;
	background-color: #FDFDFE;
	font-family: Verdana, Georgia;
	font-size: 12px;
	-webkit-box-shadow: inset -9px 18px 17px -22px rgba(0,0,0,1);
	-moz-box-shadow: inset -9px 18px 17px -22px rgba(0,0,0,1);
	box-shadow: inset -9px 18px 17px -22px rgba(0,0,0,1);
}

.menu-back {
	background-color: #e5e5e5;
}


.marquee
{
    font-size:12px;
    font-style:normal;
    font-family: Verdana, Georgia;
    color: #e97a02;
    font-weight:normal;
	margin-top: 10px;
	border: 1px solid #e5e5e5;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
    width:180px;

}


/*.alert-frame{
	margin-top:50px;
	margin-left:300px;
	width:482px;
	height:297px;
	background-image:url('../images/ventanas_alerta.png');
	background-repeat:no-repeat;
	background-position:right;
}*/
	/*.title_secc {
	font-family:Verdana, Geneva;
	margin-top:5px;
	margin-left:225px;
	font-size:18px;
	text-align:left;
	color: #F07D00;
}*/
	/*.submenu_bar {
	font-family:Verdana, Geneva;
	margin-top:155px;
	margin-left:225px;
	width:730px;
	height:25px;
	font-size:18px;
	text-align:center;
	color: #F07D00;
	background-color:#fff;
}*/
	/*.text_user_one {
	font-family:Verdana, Geneva;
	margin-top:2px;
	margin-left:6px;
	font-size:11px;
	text-align:center;
	color:#FFF;
}


.text_user_two {
	font-family:Verdana, Geneva;
	margin-top:2px;
	margin-left:6px;
	font-size:11px;
	text-align:center;
	color: #F07D00;
}

.text_user_tree {
	font-family:Verdana, Geneva;
	margin-top:2px;
	margin-left:6px;
	font-size:11px;
	text-align:center;
	color: #F07D00;
}*/
	.style1
{
    width: 100%;
}
.style2
{
    width: 180px;
}
.style3
{
    width: 600%;
    height: 400%;
}

/* ----*/


.label {
    font-size:12px;
    color: #656565;
    display: inline-block;
    outline: none;
    margin-right: 7px;
    margin-top: 4px;
    margin-bottom: 8px;
    vertical-align: top;
}

.label2 {
    color: #656565;
    vertical-align: bottom;
    display: inline-block;
    outline: none;
    width: 110px;
    height: 30px;
    margin-right: 7px;
}

.h1
{
    FONT-SIZE: 18px;
    font-weight:normal;
    COLOR: #FFFFFF;
    FONT-FAMILY: Verdana, Geneva;
 
}

.h2 {
    margin-top: 199px;
    FONT-SIZE: 30px;
    COLOR: #656565;
    text-align: left;
    
}

.h3 {
    FONT-SIZE: 14px;
    COLOR: #656565;
    FONT-FAMILY: Verdana, Geneva;
 
}

.h4 {
    FONT-SIZE: 16px;
    COLOR: #656565;
    FONT-FAMILY: Verdana, Geneva;
    align-content:center;
   
}

.h5 {
    FONT-SIZE: 14px;
    COLOR: #FFFFFF;
    FONT-FAMILY: Verdana, Geneva;
  
}

.dropdownlist, .text, .file, input.file, #MainPlaceHolder_DropDownCheckBoxes1_sl, #MainPlaceHolder_DropDownCheckBoxes1_dv, #MainPlaceHolder_cboSociedades_sl {
	border-left-style: none;
	border-left-color: inherit;
	border-left-width: medium;
	border-right-style: none;
	border-right-color: inherit;
	border-right-width: medium;
	border-top-style: none;
	border-top-color: inherit;
	border-top-width: medium;
	color: #656565;
	border-bottom: 1px solid #a9a9a9;
	display: inline-block;
	outline: none;
	width: 225px;
	margin-top: 4px;
	margin-bottom: 8px;
	vertical-align: top;
}


#MainPlaceHolder_divFiltros {
	margin-top: 20px;
	background-color: #fff;
	font-size: 12px;
	text-decoration: none;
	color: #cbcbcb;
	border: solid 1px #c4c4c4;
	text-align: center;
	width: cacl(100%-15px);
    padding:15px;
	align-content: center;
}

	#MainPlaceHolder_divFiltros td {
		width: 10%;
		padding: 2px;
	}

	#MainPlaceHolder_divFiltros .label {
		width: 60%;
		
	}
	#MainPlaceHolder_divFiltros .text, #MainPlaceHolder_divFiltros .dropdownlist {
	width: 100%;
	}

	

.calendar
{
    BORDER-LEFT-COLOR: #3689a7;
    BACKGROUND: #339933;
    BORDER-BOTTOM-COLOR: #3689a7;
    BORDER-TOP-COLOR: #3689a7;
    FONT-FAMILY: Verdana, Geneva;
    BORDER-RIGHT-COLOR: #3689a7;
    height: 16px;
}

.content-frame {
    margin-right: 20px;
    margin-left: 240px;
    padding-top: 170px;
    width: calc(100%-260px);
    align-content: center;
}
.content-frame table {
	width:100%;
	padding: 0px;
	margin: 0px;
    
}

/*.dropdownlist2
{
    border: 1px solid #1A6E33;
	background-position: center;
	FONT-SIZE: 8px;
    	COLOR: black;
    	BACKGROUND-REPEAT: no-repeat;
    	FONT-FAMILY: Verdana, Geneva;
    	BACKGROUND-COLOR: white;
    	TEXT-DECORATION: none;
    	height: 20px;
	margin-left: 0px;
}*/


/*.note
{
    BORDER-RIGHT: none;
    BORDER-TOP: none;
    BORDER-LEFT: none;
    BORDER-BOTTOM: none;
    FONT-SIZE: 10px;
    COLOR: gray;
    FONT-FAMILY: Verdana, Geneva;
    TEXT-DECORATION: none;
}*/

.table {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 11px;
   text-decoration: none;
   color:  #7d3939;   
   height: 10px;
   border: 1px solid Black;
}

.tableRow {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 10px;
   text-decoration: none;
   color:  #7d3939;   
   height: 10px;
   border: 1px solid Black;
}

.cellTitulo {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 10px;
   color: #64250b;
   background-color: rgba(0, 0, 0, 0.15);
   height: 10px;
   border: 1px solid Black;
   border-bottom-color: #1A6E33;
   border-top-color: #1A6E33;
}

.cellSubtitulo {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 10px;
   color: #64250b;
   background-color: #e6e6e6;
   height: 10px;
   border: 1px solid Black;
   border-bottom-color: #e6e6e6;
   border-top-color: #e6e6e6;
}

/* Se obupa */


/* -------- */
/* Grid     */
/* -------- */




.mGrid {
    background-color: #fff;
    width: 100%;
    font-size: 12px;
    text-decoration: none;
    color: #656565;
    margin-top: 10px;
    border: solid 1px #e6e6e6;
    margin-top:30px;
}


    .mGrid td {
        padding: 2px;
        height: 20px;
        border: none;
        max-width:200px;
        text-align:center;
    }

.mGrid td input{
        width: 35px;
       
        
    }

	/* Grid Header */
    .mGrid th {
        padding: 4px 2px;
        background: rgba(0,32,104,1);
        font-size: 12px;
        height:35px;
        border-bottom: solid 1px #e2e2e2;
        border-right: none;
        border-left: none;
        border-top: none;
        color: #e2e2e2;
        min-height: 30px;
      
    }   

	.mGrid .alt {   
		background-color: #e6e6e6; /* url(grd_alt.png) repeat-x top;  */
		border: none;
     
	}
.tableOptions {
    width: 10px;
}


.mGrid .pgr {
    background-color: #d3d3d3; /* url(grd_pgr.png) repeat-x top;   */
    text-align: center;
    font-size:22px;
    color:#333

}   
  
		.mGrid .pgr table {   
			margin: 5px 0; 
            width:auto;
		}   
		  
		.mGrid .pgr td {   
			padding: 0 6px;  
           
			
			/*color: #fff;*/
		}

    .mGrid .pgr a {
        color: #333;
        text-decoration: none;
        font-size: 22px;
        color: #333
    }   
		  
		.mGrid .pgr a:hover {   
			color: #339933;   
			text-decoration: none;   
		}

/* -------- */  
/* Grid     */
/* -------- */  
.mGrid2 {   
    /*width: 100%;*/   
    background-color: #fff; 
    margin: 5px 0 10px 0;   
    font-family: Verdana, Georgia;
    font-size: 10px;
    text-decoration: none;
    color: #656565;   
}   

	.mGrid2 td {   
		padding: 2px;   
		border-bottom: rgba(0, 0, 0, 0.15) 1px solid;
	}   

	/* Grid Header */  
	.mGrid2 th {   
		padding: 4px 2px; 
		background: #002068; /* url(grd_head.png) repeat-x top;   */
		font-size: 12px;
		border-bottom: rgba(0, 0, 0, 0.15) 1px solid;
		border-top: none;
		border-left: none;
		border-right: none;
        color: #fff;
	}   

	.mGrid2 .alt {   
		background-color: #e6e6e6; /* url(grd_alt.png) repeat-x top;  */
		border-bottom: rgba(0, 0, 0, 0.15) 1px solid;
		border-top: none;
		border-left: none;
		border-right: none;
	}   
	  
	  
	.mGrid2 .pgr {
		background-color: #1A6E33; /* url(grd_pgr.png) repeat-x top;   */
		text-align: right;
	}   
  
		.mGrid2 .pgr table {   
			margin: 5px 0;   
		}   
		  
		.mGrid2 .pgr td {   
			padding: 0 6px;   
			font-weight: bold;   
			/*color: #fff;*/
			line-height: 10px;
		}   
		  
		.mGrid2 .pgr a {   
			color: #666;   
			text-decoration: none;   
		}   
		  
		.mGrid2 .pgr a:hover {   
			color: #339933;   
			text-decoration: none;   
		}  

/* ------------------- */  
/* Grid Merge cells    */
/* ------------------- */
.mGridMerge {
    /*width: 100%;*/
    border:solid 1px #b1b1b1;
    background-color: #fff;
    font-family: Verdana;
    font-size: 12px;
    text-decoration: none;
    background-color: #fff;
    width: 100%;
    font-size: 14px;
    color: #656565;
    text-align: center;
    margin-top: 50px;
}

    .mGridMerge td {
        padding: 2px;
        border: solid 1px #b1b1b1;
        padding: 2px;
        height: 30px;
    }   

	/* Grid Header */
    .mGridMerge th {
        padding: 4px 2px;
        background: #fff;
        font-size: 14px;
        border: solid 1px #b1b1b1;
        color: #656565;
        min-height: 50px;
    }   

	.mGridMerge .alt {   
		background-color: #64260b; /* url(grd_alt.png) repeat-x top;  */
	}   
	  
	  
	.mGridMerge .pgr {
		background-color: #1A6E33; /* url(grd_pgr.png) repeat-x top;   */
		color: #64250b;
		text-align: right;
		border-style: solid;
	}   
  
		.mGridMerge .pgr table {   
			margin: 5px 0;   
		}   
		  
		.mGridMerge .pgr td {   
			border-style: solid;
			padding: 0 6px;   
			font-weight: bold;   
			color: #fff;
			line-height: 10px;
		}   
		  
		.mGridMerge .pgr a {   
			color: #666;   
			text-decoration: none;   
		}   
		  
		.mGridMerge .pgr a:hover {   
			color: #339933;   
			text-decoration: none;   
		}
table input:checked {
	opacity: 0.8;
	background-color: #FFF;
}
    /*	--------------------------------------------------
	:: Menu 
	-------------------------------------------------- */
    /* Starter CSS for Flyout Menu */
    #cssmenu {
        padding: 0;
        margin: 0;
        border: 0;
    }
#cssmenu ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  
}
#cssmenu ul li.hover, #cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul ul {
  top: 0;
  left: 100%;
}
#cssmenu ul li {
  float: none;
}
/* Custom Stuff */
#cssmenu {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  width: 200px;
}
#cssmenu span, #cssmenu a {
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  text-decoration: none;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu > ul > li:first-child {
  -moz-border-radius: 0px 0px 0 0;
  -webkit-border-radius: 0px 0px 0 0;
  border-radius: 0px 0px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu > ul > li:last-child {
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
  border-radius: 0 0 0px 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu > ul > li ul ul {
  -moz-border-radius: 0 0px 0px 0;
  -webkit-border-radius: 0 0px 0px 0;
  border-radius: 0 0px 0px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu > ul > li ul ul li:first-child {
  -moz-border-radius: 0 0px 0 0;
  -webkit-border-radius: 0 0px 0 0;
  border-radius: 0 0px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu > ul > li ul ul li:last-child {
  -moz-border-radius: 0 0 0px 0;
  -webkit-border-radius: 0 0 0px 0;
  border-radius: 0 0 0px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu ul,
#cssmenu li {
  width: 90%;
  line-height: 1;
  border-top: 0px solid #fff;
  border-bottom: 1px solid #fff; 
 
}
#cssmenu li {
  background: #1A6E33 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAMAAAA8eE0hAAAAUVBMVEX////MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzNzc3l5eXg4ODZ2dnMzMzi4uLS0tLe3t7Q0NDV1dXj4+PW1tbk5OTc3NzPz8/R0dH0Zv5RAAAAC3RSTlMAM2YekAmlPHuEAwArv7wAAAA/SURBVHheY2Dl5mdigABGKV5BNnYok4dHQpKFGcrkEefj5gAzQUBABM7kFYQyRcX4mUBMkEpOLrA2IWGwfgYAn0UDZszv8IwAAAAASUVORK5CYII=) repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e5e5e5), color-stop(1, #1A6E33));
  background-image: -webkit-linear-gradient(top, #e5e5e5, #1A6E33);
  background-image: -moz-linear-gradient(top, #e5e5e5, #1A6E33);
  background-image: -ms-linear-gradient(top, #e5e5e5, #1A6E33);
  background-image: -o-linear-gradient(top, #e5e5e5, #1A6E33);
  background-image: linear-gradient(#e5e5e5, #1A6E33);
}
#cssmenu li {
  background: #FDFDFE; 
  border-left: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb;
}
#cssmenu li:hover {
  background: #e0e0e0;
}
#cssmenu a {
  color: #313131;
  text-transform: uppercase; /* colocar el texto en mayusculas*/ 
/*line-height: 100%;*/
  
}
    #cssmenu ul ul {
        width: 200px;
       
        border: 0px solid #FDFDFE;
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    }
    #cssmenu ul ul li {
        background: #FDFDFE;
        padding: 15px;
    }
#cssmenu ul ul li:hover {
  background:  #e0e0e0;
}
#cssmenu ul ul li ul li {
  background: #FDFDFE;
}
#cssmenu ul ul li ul li:hover {
  background: #e0e0e0;
}
	#cssmenu .has-sub, #cssmenu .dropdown2 {
		width: 180px;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 20px;
		position: relative;
		height: 12px;
	}
#cssmenu .has-sub:after,
#cssmenu .has-sub > ul > .has-sub:hover:after {
  content: '';
  display: block;
  width: 10px;
  height: 9px;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAMAAAA8eE0hAAAAUVBMVEX////MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzNzc3l5eXg4ODZ2dnMzMzi4uLS0tLe3t7Q0NDV1dXj4+PW1tbk5OTc3NzPz8/R0dH0Zv5RAAAAC3RSTlMAM2YekAmlPHuEAwArv7wAAAA/SURBVHheY2Dl5mdigABGKV5BNnYok4dHQpKFGcrkEefj5gAzQUBABM7kFYQyRcX4mUBMkEpOLrA2IWGwfgYAn0UDZszv8IwAAAAASUVORK5CYII=);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
#cssmenu .has-sub > ul > .has-sub:after,
#cssmenu .has-sub:hover:after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAMAAAA8eE0hAAAAUVBMVEX////d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3e3t729vbx8fHq6urd3d3z8/Pj4+Pv7+/h4eHm5ub09PTn5+f19fXt7e3g4ODi4uLUsVdlAAAAC3RSTlMAM2YekAmlPHuEAwArv7wAAAA/SURBVHheY2Dl5mdigABGKV5BNnYok4dHQpKFGcrkEefj5gAzQUBABM7kFYQyRcX4mUBMkEpOLrA2IWGwfgYAn0UDZszv8IwAAAAASUVORK5CYII=);
}

#MainPlaceHolder_btnGenear,
#MainPlaceHolder_btnGenerar,
#MainPlaceHolder_btnBuscar,
#MainPlaceHolder_btnMostrarTodos,
#MainPlaceHolder_btnImportar,
#btnCambioPassword,
#btnRecuperaCambio,
#btnVerManual,
#MainPlaceHolder_btnExportar,
#MainPlaceHolder_ImageButton1,
#btnAgregarFactura,
#btnAceptarItem,
#btnAceptar,
#btnCancelar,
#btnCancelarAgregar,
#btnCancelarEntregas,
#btnCancelar2,
#btnAceptarFactura,
#btnAceptarEntregas,
#btnAceptarServ,
#btnCrearCta,
#btnAceptarCambio,
#btnAceptarImportar,
#btnRegistrar,
#MainPlaceHolder_btnAceptarImportar,
#MainPlaceHolder_btnAceptarLog,
#MainPlaceHolder_btnAceptarFin,
#MainPlaceHolder_btnGuardar,
#btnSalir,
#btnCancelarImportar,
#btnCancelarCambio,
#btnCancNuevaCta,
#MainPlaceHolder_btnCancelar {
	color: #fff;
	background: rgb(42, 62, 146);
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 4px;
	-webkit-border-radius: 4px; /*Safari y Chrome*/
	-moz-border-radius: 4px; /*Firefox*/
	-o-border-radius: 4px; /*Opera*/
	-ms-border-radius: 4px; /*IE 8*/
	cursor: pointer;
    padding-left:30px;

}
#MainPlaceHolder_btnGenear,
#MainPlaceHolder_btnGenerar,
#MainPlaceHolder_btnBuscar:hover,
#MainPlaceHolder_btnMostrarTodos:hover,
#MainPlaceHolder_btnImportar:hover,
#btnAceptarImportar:hover,
#btnRecuperaCambio:hover,
#btnCambioPassword:hover,
#btnVerManual:hover,
#MainPlaceHolder_ImageButton1:hover,
	#MainPlaceHolder_btnExportar:hover,
	#MainPlaceHolder_ImageButton1:hover,
	#btnAgregarFactura:hover,
	#btnAceptarItem:hover,
	#btnAceptar:hover,
	#btnCancelar:hover,
	#btnCancelarAgregar:hover,
	#btnCancelarEntregas:hover,
	#btnCancelar2:hover,
	#btnAceptarFactura:hover,
	#btnAceptarEntregas:hover,
	#btnAceptarServ:hover,
	#btnAceptar:hover,
	#btnCrearCta:hover,
	#btnAceptarCambio:hover,
	#btnRegistrar:hover,
	#MainPlaceHolder_btnAceptarLog:hover,
	#MainPlaceHolder_btnAceptarFin:hover,
	#MainPlaceHolder_btnAceptarImportar:hover,
	#MainPlaceHolder_btnGuardar:hover,
	#btnSalir:hover,
	#btnCancelarImportar:hover,
	#btnCancelarCambio:hover,
	#btnCancNuevaCta:hover,
	#MainPlaceHolder_btnCancelar:hover {
		color: #fff;
		background: rgba(33,48,111,1);
	}

    #btnAceptarItem,
    #btnAceptar,
    #btnAceptarItem:hover,
    #btnAceptar:hover,
    #btnAceptarFactura,
    #btnAceptarEntregas,
    #btnAceptarServ,
    #btnAceptarFactura:hover,
    #btnAceptarEntregas:hover,
    #btnAceptarServ:hover,
    #btnAceptarCambio,
    #btnAceptarImportar,
    #MainPlaceHolder_btnAceptarImportar,
    #MainPlaceHolder_btnAceptarLog,
    #MainPlaceHolder_btnAceptarFin,
    #btnAceptarCambio:hover,
    #btnAceptarImportar:hover,
    #MainPlaceHolder_btnAceptarImportar:hover,
    #MainPlaceHolder_btnAceptarLog:hover,
    #MainPlaceHolder_btnAceptarFin:hover {
        background-image: url(../Images/aceptar.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 45px;
        margin-top: 30px;
    }

#MainPlaceHolder_btnExportar,
#MainPlaceHolder_btnExportar:hover{
	background-image: url(../Images/exportar.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 45px;
}

#btnAgregarFactura,
#btnAgregarFactura:hover {
	background-image: url(../Images/agregar.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 45px;
}

    #MainPlaceHolder_ImageButton1,
    #MainPlaceHolder_ImageButton1:hover,
    #MainPlaceHolder_btnGenear,
    #MainPlaceHolder_btnGenerar,
    #MainPlaceHolder_btnGenear:hover,
    #MainPlaceHolder_btnGenera:hover {
        background-image: url(../Images/generar.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 45px;
        margin-top: 30px;
    }


    #MainPlaceHolder_btnGuardar,
    #MainPlaceHolder_btnGuardar:hover {
        background-image: url(../Images/guardar.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 45px;
        margin-top: 30px;
    }

    #btnSalir,
    #btnSalir:hover {
        background-image: url(../Images/salir.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 45px;
       
    }

    #btnCancelar,
    #btnCancelar:hover,
    #btnCancelarAgregar,
    #btnCancelarEntregas,
    #btnCancelar2,
    #btnCancelarAgregar:hover,
    #btnCancelarEntregas:hover,
    #btnCancelar2:hover,
    #btnCancelarImportar,
    #btnCancelarCambio,
    #btnCancNuevaCta,
    #MainPlaceHolder_btnCancelar,
    #btnCancelarImportar:hover,
    #btnCancelarCambio:hover,
    #btnCancNuevaCta:hover,
    #MainPlaceHolder_btnCancelar:hover {
        background-image: url(../Images/cancelar.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 45px;
        margin-top: 30px;
    }





#MainPlaceHolder_btnMostrarTodos, 
#MainPlaceHolder_btnMostrarTodos:hover {
	background-image: url(../Images/mostrarTodos.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 45px;
}


#MainPlaceHolder_btnImportar, #MainPlaceHolder_btnImportar:hover {
	background-image: url(../Images/importar.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 45px;
}

#MainPlaceHolder_btnBuscar, #MainPlaceHolder_btnBuscar:hover {
	background-image: url(../Images/buscar.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 45px;
}



.auto-style1 {
	color: #656565;
	vertical-align: bottom;
	display: inline-block;
	outline: none;
	margin-right: 7px;
	margin-left: 0px;
}

.auto-style2 {
	color: #656565;
	vertical-align: bottom;
	display: inline-block;
	outline: none;
	margin-right: 0px;
}

.auto-style3 {
	width: 58%;
}

.auto-style4 {
	color: #656565;
	border-bottom: 1px solid #a9a9a9;
	display: inline-block;
	outline: none;
	width: 90%;
	min-width: 225px;
	height: 30px;
	margin-top: 4px;
	margin-bottom: 8px;
	vertical-align: top;
	background-color: #fff;
	border-left-style: none;
	border-left-color: inherit;
	border-left-width: medium;
	border-right-style: none;
	border-right-color: inherit;
	border-right-width: medium;
	border-top-style: none;
	border-top-color: inherit;
	border-top-width: medium;
	margin-left: 0px;
}

.auto-style5 {
	height: 49px;
}

.auto-style6 {
	width: 100%;
}

.auto-style7 {
	width: 57%;
}

.auto-style8 {
	color: #656565;
	vertical-align: bottom;
	display: inline-block;
	outline: none;
	margin-right: 7px;
}


#MainPlaceHolder_divDetalle table {
    table-layout: fixed;
}

#MainPlaceHolder_divDetalle td {
    width: 50%;
}

checklist {
    font-size: 12px;
    width: 250px;
}
body {
    font-family: Verdana, Georgia;
}