<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
			  validate="false" />
		</httpHandlers>
    
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			</buildProviders>
		</compilation>
		<httpRuntime targetFramework="4.5"/>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.HtmlControls" assembly="System.Web"/>
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size"/>
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</handlers>
	</system.webServer>
	<appSettings>
		<add key="PathArchivos" value="c:\Proyectos\PortalFacturas\Facturas\"/>
		<add key="PF_Link" value="http://localhost/PortalFacturas/Login.aspx"/>
		<add key="EmailFrom" value="sapportalproveedores.mx@ecomtrading.com"/>
		<add key="EmailSmtp" value="smtp.gmail.com"/>
    <add key="EmailPass" value="ProvAmsa$$"/>
    <add key="EmailPort" value="587"/>
		<add key="ConnPF" value="Server=(local);Database=Facturas;User ID=sa;Password=cap21w2k$;"/>
    <add key="SAPDestName" value ="DEV"/>
    <add key="Ambiente" value ="DEV" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<connectionStrings>
		<add name="ConnMH" connectionString="Server=(local);Database=Facturas;User ID=sa;Password=cap21w2k$;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IConsultaCFDIService">
					<security mode="Transport"/>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService" contract="wsValidaCFDIs.IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService"/>
		</client>
	</system.serviceModel>
</configuration>